<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список авто</title>
</head>
<body>
<div th:each="car : ${cars}" >
    <a th:text="${car.getId()}" >auto</a>
    <a th:text="${car.getBrand()}" >auto</a>
    <a th:text="${car.getType()}">auto</a>
<!--    <a th:href="@{showCars.html/{id} (id = ${car.getId()})}" th:text="${car.getId()}">ВЫБОР ПО ID </a>-->
<!--    <a th:text="${car.getType()}">auto</a>-->
</div>
</body>
</html>